.grid-terms{
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
}

.grid-term-container{
    display: flex;
    padding: 20px 0;
    border-bottom: dotted 1px black;
    @include media-query($on-palm){
        flex-direction: column;
    }
}

.grid-terms-term{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;    
    flex: 1; 
    padding: 25px; 
    text-align: center;  
    h4{
        font-size: 22px;
        font-weight: bold;
    }
    h5{
        margin-top: 25px;
        margin-bottom: 5px;
    }
    p{
        margin: 0;        
    }
    @include media-query($on-palm){
        width: 100%;
        padding: 0 0 25px 0;
    }    
}

.grid-terms-diagram{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    flex: 1;
    padding: 25px;
    .highlight, pre{
        margin: 0;
    }
    @include media-query($on-palm){
        width: 100%;
        padding: 0 0 25px 0;
    }
}

.grid-diagram{
    width: 85%;
    margin: 0 auto;
    height: 200px;  
    div{
        width: 30%;
        height: 50%;
        float: left;
        background-color: white;
    }
    .cell-1{
        border-left: solid 5px #444;
        border-top: solid 5px #444;
        border-right: solid 5px #444;
    }
    .cell-2{
        border-top: solid 5px #444;
    }
    .cell-3{
        border-left: solid 5px #444;
        border-top: solid 5px #444;
        border-right: solid 5px #444;
    }
    .cell-4{
        clear: both;
        border-left: solid 5px #444;
        border-top: solid 5px #444;
        border-bottom: solid 5px #444;
    }
    .cell-5{
        border-bottom: solid 5px #444;
        border-left: solid 5px #444;
        border-top: solid 5px #444;
    }
    .cell-6{
        border-left: solid 5px #444;
        border-bottom: solid 5px #444;
        border-right: solid 5px #444;
        border-top: solid 5px #444;
    }
    &.grid-diagram-line{
        .cell-3{
            border-left: solid 5px $accent-color;
        }
        .cell-6{
            border-left: solid 5px $accent-color;
        }
    }
    &.grid-diagram-track{
        .cell-4{
            background-color: $accent-color;
        }
        .cell-5{
            background-color: $accent-color;
        }
        .cell-6{
            background-color: $accent-color;
        }
    }
    &.grid-diagram-cell{
        .cell-2{
            background-color: $accent-color;
        }
    }
    &.grid-diagram-area{
        .cell-1{
            background-color: $accent-color;
        }
        .cell-2{
            background-color: $accent-color;
        }
        .cell-4{
            background-color: $accent-color;
        }
        .cell-5{
            background-color: $accent-color;
        }
    }
}

.grid-properties{
    position: relative;
    padding: 25px;
    background-color: lighten($accent-color, 43%);
    border: solid 1px lighten($accent-color, 20%);
    border-radius: 4px;
    margin-bottom: 45px;
    h4{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 25px;
        font-family: $secondary-font-family;        
    }
    h5{
        margin-top: 25px;
        margin-bottom: 5px;
    }
    pre{
        margin: 0;        
    }
    figure{
        margin: 25px 0;
    }
    img{
        margin-bottom: 45px;
    }
}

.grid-properties-item{
    background-color: lighten($brand-color, 45%);
    border: solid 1px lighten($brand-color, 35%);
}

.values-list{
    margin: 0 0 25px 0;
    list-style-type: none;
}

.props-table-of-contents{
    margin-left: 25px;
    h4{
        margin-bottom: 0;
    }
    ul{
        list-style-type: none;
        margin-left: 15px;
        li a{
            font-family: $secondary-font-family;
        }
    }
}

.props-table-of-contents-container{
    display: flex;
    ul{
        list-style-type: none;
        font-family: $secondary-font-family;
        margin: 0 0 0 15px;
    }
    @include media-query($on-palm){
        flex-direction: column;
    }

}

.props-table-of-contents-left, .props-table-of-contents-right{
    padding: 15px;
    border-radius: 4px;  
    flex: 1;
}

.props-table-of-contents-left{
    background-color: #fffadb;
    border: solid 1px #ffe966;
}

.props-table-of-contents-right{
    margin-left: 25px;
    background-color: #eaf2fc;
    border: solid 1px #bdd7f6;
    @include media-query($on-palm){
        margin: 30px 0 0 0;
    }
}