/**
 * Site header
 */
.site-header {
    // Positioning context for the mobile navigation icon
    position: relative;
    background-color: $brand-color;
    border-bottom: solid 4px $accent-color;
    background-image: url('/assets/cubes.png');
    background-repeat: repeat;
}

.site-title {
    vertical-align: middle;
    font-size: 26px;
    font-weight: 300;
    line-height: 80px;
    margin-bottom: 0;
    float: left;
    font-family: $secondary-font-family;
    &,
    &:visited {
        color: white;
    }
    &:after{
        display: inline-block;
        content: ' ';
        width: 1px;
        height: 25px;
        background-color: $accent-color;
        vertical-align: middle;
        margin-bottom: 3px;
        margin-left: 3px;
        animation: pulse 1s infinite;
    }
    &:hover{
        text-decoration: none;
    }

    @keyframes pulse {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}

.sub-header{
    background-color: $grey-color;
}

.site-nav {
    float: right;
    line-height: 30px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: white;
        line-height: $base-line-height;
        font-size: 15px;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }

        &:hover{
            text-decoration: none;
            color: $accent-color;
        }
    }    

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $grey-color;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: white;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            color: $accent-color;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid lighten($grey-color-light, 30%);
    padding: $spacing-unit 0;
    background-image: url('/assets/cubes-gray.png');
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: 50px;
    }

    h2{
        margin-bottom: 0;
        .home &{
            margin-bottom: 20px;
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color-light;
    overflow: hidden;
    margin: 0;
    time{
        float: right;
    }
    .home &{
        font-style: italic;
    }
}

.post-link {
    display: block;
    font-family: $secondary-font-family;
    font-size: 26px;
    &,
    &:visited{
        color: $grey-color;
    }
    &:hover{
        text-decoration: none;
        color: $brand-color;
    }
}


/**
 * Posts
 */
.post-header {
    margin-bottom: 50px;
    margin-top: -29px;
    padding: 25px 0;
    background-color: $grey-color;
}

.page-header{
    margin-bottom: 50px;
    margin-top: -29px;
    background-color: $grey-color;
}

.post-title {
    padding-top: 15px;
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1.2;
    font-family: $secondary-font-family;
    color: white;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 30px;
        font-family: $base-font-family;
        color: $grey-color;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.article-body{
    h3{
        margin-top: 50px;
    }
}

.home{
    margin-top: 20px;
}

.author-link{
    color: $accent-color;
    &:hover{
        color: white;
    }    
}

.image-float-left{
    float: left;
    margin: 0 13px 0 0;
}

.read-more-link{
    float: right;
}

.collapsible-control{
    margin-top: 25px !important;
    &.collapsed{
        &:before{
            display: inline-block;
            text-align: center;
            content: '+';
            color: $brand-color;
            width: 18px;
            vertical-align: middle;
        }
    }
    &.expanded{
       &:before{
        display: inline-block;
        text-align: center;
            content: '-';
            color: $brand-color;
            width: 18px;
            vertical-align: middle;
        } 
    }
    &:hover{
        cursor: pointer;
        color: $brand-color;
    }
}

.collapsible-section{
    display: none;
    margin-bottom: 50px;
}

/* css grid layout post */
/* browser support table */
.browser-support{
    height: 120px;
    width: 100%;
    margin: 10px 0 40px 0;
    display: flex;    
    .browser-support-cell{
        height: 100%;
        border: solid 1px white;
        display: flex;
        flex-direction: column;
        .browser-support-name,
        .browser-support-info{
            text-align: center;
            line-height: 1;
            flex: 1;
            display: flex;
            justify-content: center;
            flex-direction: column;
            border-radius: 4px;
        }
        .browser-support-name{
            justify-content: flex-end;
            padding: 10px 10px 3px 10px;
        }
        .browser-support-info{
            justify-content: center;
            padding: 10px;
            @include media-query($on-laptop){
                margin-bottom: 8px;
            }
        }
    }
    .yes{
        background-color: #86e35d;
    }
    .no{
        background-color: #ff8181;
    }
    .partial{
        background-color: #ffbc64;
    }
    .flagged{
        background-color: #bada55;
    }  
    @include media-query($on-laptop){
        width: 50%;
        margin: 0 auto;
        flex-direction: column;
        height: auto;
    }
    @include media-query($on-palm){
        width: 100%;
    }
}

.grid-terms{
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
}

.grid-term-container{
    display: flex;
    padding: 20px 0;
    border-bottom: dotted 1px black;
}

.grid-terms-term{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;    
    flex: 1; 
    padding: 25px; 
    text-align: center;  
    h4{
        font-size: 22px;
        font-weight: bold;
    }
    h5{
        margin-top: 25px;
        margin-bottom: 5px;
    }
    p{
        margin: 0;        
    }    
}

.grid-terms-diagram{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    flex: 1;
    padding: 25px;
    .highlight, pre{
        margin: 0;
    }
}

.grid-diagram{
    width: 85%;
    margin: 0 auto;
    height: 200px;  
    div{
        width: 30%;
        height: 50%;
        float: left;
        background-color: white;
    }
    .cell-1{
        border-left: solid 5px #444;
        border-top: solid 5px #444;
        border-right: solid 5px #444;
    }
    .cell-2{
        border-top: solid 5px #444;
    }
    .cell-3{
        border-left: solid 5px #444;
        border-top: solid 5px #444;
        border-right: solid 5px #444;
    }
    .cell-4{
        clear: both;
        border-left: solid 5px #444;
        border-top: solid 5px #444;
        border-bottom: solid 5px #444;
    }
    .cell-5{
        border-bottom: solid 5px #444;
        border-left: solid 5px #444;
        border-top: solid 5px #444;
    }
    .cell-6{
        border-left: solid 5px #444;
        border-bottom: solid 5px #444;
        border-right: solid 5px #444;
        border-top: solid 5px #444;
    }
    &.grid-diagram-line{
        .cell-3{
            border-left: solid 5px $accent-color;
        }
        .cell-6{
            border-left: solid 5px $accent-color;
        }
    }
    &.grid-diagram-track{
        .cell-4{
            background-color: $accent-color;
        }
        .cell-5{
            background-color: $accent-color;
        }
        .cell-6{
            background-color: $accent-color;
        }
    }
    &.grid-diagram-cell{
        .cell-2{
            background-color: $accent-color;
        }
    }
    &.grid-diagram-area{
        .cell-1{
            background-color: $accent-color;
        }
        .cell-2{
            background-color: $accent-color;
        }
        .cell-4{
            background-color: $accent-color;
        }
        .cell-5{
            background-color: $accent-color;
        }
    }
}

.grid-properties{
    position: relative;
    padding: 25px;
    background-color: lighten($accent-color, 43%);
    border: solid 1px lighten($accent-color, 20%);
    border-radius: 4px;
    margin-bottom: 45px;
    h4{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 25px;
        font-family: $secondary-font-family;        
    }
    h5{
        margin-top: 25px;
        margin-bottom: 5px;
    }
    pre{
        margin: 0;        
    }
    figure{
        margin: 25px 0;
    }
    img{
        margin-bottom: 45px;
    }
}

.grid-properties-item{
    background-color: lighten($brand-color, 45%);
    border: solid 1px lighten($brand-color, 35%);
}

.values-list{
    margin: 0 0 25px 0;
    list-style-type: none;
}

.props-table-of-contents{
    margin-left: 25px;
    h4{
        margin-bottom: 0;
    }
    ul{
        list-style-type: none;
        margin-left: 15px;
        li a{
            font-family: $secondary-font-family;
        }
    }
}

.props-table-of-contents-container{
    display: flex;
    ul{
        list-style-type: none;
        font-family: $secondary-font-family;
        margin: 0 0 0 15px;
    }
}

.props-table-of-contents-left, .props-table-of-contents-right{
    padding: 15px;
    border-radius: 4px;  
    flex: 1;
}

.props-table-of-contents-left{
    background-color: #fffadb;
    border: solid 1px #ffe966;
}

.props-table-of-contents-right{
    margin-left: 25px;
    background-color: #eaf2fc;
    border: solid 1px #bdd7f6;
}

.top-link{
    position: absolute;
    right: 5px;
    bottom: -25px;
    color: lighten($grey-color-light, 25%) !important;
    font-size: 15px;   
    &:hover{
        color: $grey-color-light !important;
    } 
}

#disqus_thread{
    margin-top: 100px;
}

.pagination{
    padding-top: 70px;
    overflow: hidden;
}

.prev-link{
    float: left;
}

.next-link{
    float: right;
}

.archive{
    .post-list{
        h1{
            margin-bottom: 0;
        }
        ul{
            list-style-type: none;
        }
        li{
            margin-bottom: 0;
        }
    }
}

.updated{
    font-style: italic;
    color: $grey-color-light;
}

.jekyll-archive-post{
    border: solid 1px #ddd;
    padding: 30px;
    border-radius: 3px;
    margin-bottom: 30px;
}