.post-header {
    margin-bottom: 50px;
    margin-top: -29px;
    padding: 25px 0;
    background-color: $grey-color;
}

.page-header{
    margin-bottom: 50px;
    margin-top: -29px;
    background-color: $grey-color;
}

.post-title {
    padding-top: 15px;
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1.2;
    font-family: $secondary-font-family;
    color: white;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 30px;
        font-family: $base-font-family;
        color: $grey-color;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.article-body{
    h3{
        margin-top: 50px;
    }
}

.author-link{
    color: $accent-color;
    &:hover{
        color: white;
    }    
    &:visited{
      color: $accent-color;  
    }
}

.collapsible-control{
    margin-top: 25px !important;
    /* cursor: pointer; */
    &.collapsed{
        &:before{
            display: inline-block;
            text-align: center;
            content: '+';
            color: $brand-color;
            width: 18px;
            vertical-align: middle;
        }
    }
    &.expanded{
       &:before{
        display: inline-block;
        text-align: center;
            content: '-';
            color: $brand-color;
            width: 18px;
            vertical-align: middle;
        } 
    }
    &:hover{        
        color: $brand-color;
    }
}

.collapsible-section{
    display: none;
    margin-bottom: 50px;
}

#disqus_thread{
    margin-top: 60px;
}

.updated{
    font-style: italic;
    color: $grey-color-light;
}

.content-highlighted{
    border: solid 1px #ddd;
    padding: 30px;
    border-radius: 3px;
    margin-bottom: 30px;
}

.share-buttons{
    list-style-type: none;
    margin: 60px 0 0 0;
    border-top: solid 2px #eaedee;
    border-top: solid 2px rgba(0, 39, 59, .08);
    padding: 16px 0;
    li{
        display: inline;
    }
}

.share-button{
    background-color: blue;
    font-size: 14px;
    padding: 5px;
    color: white !important;
    border-radius: 4px;
}

.share-button-facebook{
    background-color: #3b5998;
}

.share-button-twitter{
    background-color: #00aced;
}

.share-button-googleplus{
    background-color: #dd4b39;
}

.share-button-linkedin{
    background-color: #007bb6;
}

.browser-support{
    height: 120px;
    width: 100%;
    margin: 10px 0 40px 0;
    display: flex;    
    .browser-support-cell{
        height: 100%;
        border: solid 1px white;
        display: flex;
        flex-direction: column;
        .browser-support-name,
        .browser-support-info{
            text-align: center;
            line-height: 1;
            flex: 1;
            display: flex;
            justify-content: center;
            flex-direction: column;
            border-radius: 4px;
        }
        .browser-support-name{
            justify-content: flex-end;
            padding: 10px 10px 3px 10px;
        }
        .browser-support-info{
            justify-content: center;
            padding: 10px;
            @include media-query($on-laptop){
                margin-bottom: 8px;
            }
        }
    }
    .yes{
        background-color: #86e35d;
    }
    .no{
        background-color: #ff8181;
    }
    .partial{
        background-color: #ffbc64;
    }
    .flagged{
        background-color: #bada55;
    }  
    @include media-query($on-laptop){
        width: 50%;
        margin: 0 auto;
        flex-direction: column;
        height: auto;
    }
    @include media-query($on-palm){
        width: 100%;
    }
}